.loginButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginButton {
  width: 150px;
}

.selectUserTypeContainer {
  @extend .loginButtonContainer;
  margin-bottom: 20px;
}

.selectUserType {
  width: 80%;
}

.smoothAppear > div {
  animation: appear 3s ease-out;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    max-height: 0px;
  }
  to {
    max-height: 500px;
  }
}
