.loginButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginButton {
    width: 150px;
}

.selectUserTypeContainer {
  @extend .loginButtonContainer;
  margin-bottom: 20px;
}

.selectUserType {
  width: 80%;
}
