.app {
  text-align: center;
}

.appLogo {
  height: 40vmin;
}

.appHeader {
  background-color: #2d54a3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appLink {
  color: #09d3ac;
}

.container {
  position:relative;
  min-height: 100%;
}

.smartCenter {
  position:absolute;
  background: #EEE;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  width: 60%;
} 